<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS-WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/api/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>doFilter</display-name>
    <filter-name>doFilter</filter-name>
    <filter-class>com.revature.trms.servlet.doFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>doFilter</filter-name>
     <url-pattern>/api/login</url-pattern>
     <url-pattern>/MySubmissions</url-pattern>
      <url-pattern>/MessageUploadServlet</url-pattern>
       <url-pattern>/FormDataServlet</url-pattern>
        <url-pattern>/FileDownloadServlet</url-pattern>
         <url-pattern>/EmployeeInfoServlet</url-pattern>
         <url-pattern>/DBTestServlet</url-pattern>
         <url-pattern>/ApprovalServlet</url-pattern>
          <url-pattern>/AdminServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FormDataServlet</display-name>
    <servlet-name>FormDataServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.FormDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormDataServlet</servlet-name>
    <url-pattern>/FormDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySubmissions</display-name>
    <servlet-name>MySubmissions</servlet-name>
    <servlet-class>com.revature.trms.servlet.MySubmissions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySubmissions</servlet-name>
    <url-pattern>/MySubmissions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageUploadServlet</display-name>
    <servlet-name>MessageUploadServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.MessageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageUploadServlet</servlet-name>
    <url-pattern>/MessageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeInfoServlet</display-name>
    <servlet-name>EmployeeInfoServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.EmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInfoServlet</servlet-name>
    <url-pattern>/EmployeeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalServlet</display-name>
    <servlet-name>ApprovalServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.ApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalServlet</servlet-name>
    <url-pattern>/ApprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBTestServlet</display-name>
    <servlet-name>DBTestServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.DBTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBTestServlet</servlet-name>
    <url-pattern>/DBTestServlet</url-pattern>
  </servlet-mapping>
</web-app>